:root{
  --color-light-1 : #E4E4E7;
  --color-light-2 : #A1A1AA;
  --color-light-3 : #71717A;

  --color-background : #18181B;
  --color-border : #27272A;
  --color-border-2 : #3F3F46;

  --color-lime-bg : rgba(132, 204, 22, 0.1);
  --color-lime : #84CC16;

  --color-amber-bg : rgba(245,158,11, 0.1);
  --color-amber : #F59E0B;

  --color-error : rgb(225, 66, 66);

  --color-cyan-bg : rgba(6, 182, 212, 0.1);
  --color-cyan : #06B6D4;




  --font-family-base: 'Inter', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 32px;
  --section-padding-y : 256px;

  --border-radius: 12px;
  --border-radius-small : 4px;
  --border-radius-button  : 4px;
  --button-height: 40px;
  --input-height: 40px;

  --transition-duration: 0.3s;

}