@charset "UTF-8";
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  background-color: var(--color-background);
  color: var(--color-light-2);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-accent-blue);
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

h1 {
  font-size: clamp(33px, 2.7777777778vw, 40px);
  color: var(--color-light-1);
}

h3 {
  font-weight: 700;
  font-size: clamp(20px, 1.6666666667vw, 24px);
  color: var(--color-light-1);
}

h4 {
  font-weight: 700;
  font-size: clamp(15px, 1.25vw, 18px);
  color: var(--color-light-1);
}

h5 {
  font-weight: 500;
  font-size: clamp(12px, 0.9722222222vw, 14px);
  color: var(--color-light-2);
}

.lime, .amber, .error, .configMessage {
  font-weight: 800;
  color: var(--color-light-1);
}

.lime {
  color: var(--color-lime);
}

.amber {
  color: var(--color-amber);
}

.error {
  color: var(--color-error);
}

:root {
  --color-light-1: #E4E4E7;
  --color-light-2: #A1A1AA;
  --color-light-3: #A1A1AA;
  --color-background: #18181B;
  --color-border: #27272A;
  --color-border-2: #3F3F46;
  --color-lime-bg: rgba(132, 204, 22, 0.1);
  --color-lime: #84CC16;
  --color-amber-bg: rgba(245,158,11, 0.1);
  --color-amber: #F59E0B;
  --color-error: rgb(225, 66, 66);
  --color-cyan-bg: rgba(6, 182, 212, 0.1);
  --color-cyan: #06B6D4;
  --font-family-base: "Inter", sans-serif;
  --container-width: 1280px;
  --container-padding-x: 32px;
  --section-padding-y: 256px;
  --border-radius: 12px;
  --border-radius-small: 4px;
  --border-radius-button: 4px;
  --button-height: 40px;
  --input-height: 40px;
  --transition-duration: 0.3s;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.button {
  position: relative;
}
.button__info {
  padding: 6px;
  display: none;
  font-size: 10px;
  position: absolute;
  bottom: -50px;
  border: 1px solid var(--color-border-2);
  border-radius: var(--border-radius-small);
  transition: var(--transition-duration);
  text-transform: lowercase;
}
.button:hover .button__info {
  display: block;
}

.settings {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: var(--color-border);
  border-radius: var(--border-radius);
  padding: 8px;
}
.settings__header {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-light-1);
}
.blure {
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  right: 0;
  z-index: 2;
  position: absolute;
}

.messages__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.messages__item-time {
  font-size: 9px;
  position: relative;
}
.messages__item-time:after {
  content: "";
  position: absolute;
  right: -7px;
}

.status {
  height: 25px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  padding: 4.5px 8px 4.5px 8px;
  font-size: 14px;
  font-weight: 600;
}
.status__focus {
  border-color: var(--color-lime);
  color: var(--color-lime);
  background-color: var(--color-lime-bg);
}
.status__pause {
  border-color: var(--color-amber);
  color: var(--color-amber);
  background-color: var(--color-amber-bg);
}
.status__big {
  border-color: var(--color-cyan);
  color: var(--color-cyan);
  background-color: var(--color-cyan-bg);
}

.timer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.timer__info {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.timer__info-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer__clock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 64px;
  color: var(--color-light-1);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.timer__clock-date {
  display: flex;
  gap: 5px;
  align-items: center;
}
.timer__clock-date--s {
  color: var(--color-light-2);
  font-size: 15px;
}
.timer__clock-stage {
  display: flex;
  gap: 5px;
}
.timer__clock-stage--item {
  width: 8px;
  height: 8px;
  border: 1px solid var(--color-border-2);
}
.timer__clock-stage .complete {
  background-color: var(--color-lime);
}
.timer__clock-stage .inprogress {
  background-color: var(--color-amber);
  animation: 3s infinite alternate indicator;
}
.timer__clock-menu {
  display: flex;
  gap: 15px;
  align-items: center;
}
.timer__clock-menu .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 56px;
  width: 56px;
  background-color: var(--color-border-2);
  border: none;
  border-radius: var(--border-radius-small);
  color: var(--color-light-2);
}
.timer__clock-menu .button:hover {
  scale: 1.1;
  color: var(--color-light-1);
}

@keyframes indicator {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.pomodoro__header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2em;
}
.pomodoro__header-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.pomodoro__header-settings--button {
  height: 32px;
  aspect-ratio: 1;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--color-border);
  color: var(--color-light-2);
}
.pomodoro__header-settings--button:hover {
  background-color: var(--color-cyan);
  color: var(--color-light-1);
}
.pomodoro__body {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  min-height: 600px;
  min-width: 1120px;
}

.block {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 24px;
}
.block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 24px;
}
.block__header-icon {
  height: 40px;
  width: 40px;
  background-color: var(--color-border);
  padding: 10px;
  border-radius: var(--border-radius-small);
}
.block__body {
  height: 100%;
  max-height: 40vh;
  margin-bottom: 10px;
  padding: 8px;
  overflow-y: auto;
  font-size: 13px;
}
.block__body::-webkit-scrollbar {
  width: 5px;
}
.block__body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет дорожки */
  border-radius: 10px; /* Закругление углов дорожки */
}
.block__body::-webkit-scrollbar-thumb {
  max-height: 5px;
  background: var(--color-cyan);
  border-radius: 10px; /* Закругление углов ползунка */
}
.block__input {
  display: grid;
  grid-template-columns: 1fr 80px 40px;
  gap: 10px;
  width: auto;
}
.block__input--textfield {
  color: var(--color-light-1);
  padding: 8px;
  width: 100%;
  background-color: var(--color-border);
  border: none;
  border-radius: var(--border-radius-small);
}
.block__input--textfield:focus {
  outline: none;
  color: var(--color-light-2);
}
.block__input--submit, .block__input--clear {
  padding: 8px;
  height: 40px;
  background: var(--color-lime);
  color: #FFF;
  border-radius: var(--border-radius-small);
  border: none;
}
.block__input--submit svg, .block__input--clear svg {
  scale: 1.2;
}
.block__input--submit:nth-child(3), .block__input--clear:nth-child(3) {
  background-color: var(--color-error);
}
.block__input--submit:hover, .block__input--clear:hover {
  background-color: var(--color-lime-bg);
}

.list {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 24px;
}

/*# sourceMappingURL=style.css.map */
